@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* font-family: 'Inter', sans-serif*/
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {
  scroll-behavior: smooth;
}

body .boton {
  display: flex;
  padding-block: 22px;
  padding-inline: 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #0d0d0d;
  color: #fafafa;
  text-align: center;
  text-wrap: nowrap;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
}
body .boton:hover {
  background-color: #1d1d1d;
}
body .navbar {
  display: flex;
  width: 100vw;
  height: 10.24vh;
  padding-block: 4vh;
  padding-inline: 11vw;
  align-items: center;
  gap: 4vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}
body .navbar .navbar-logo {
  width: 116.279px;
  height: 48px;
  flex-shrink: 0;
}
body .navbar .navbar-lista {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60vw;
  gap: 4vw;
  flex: 1 0 0;
  list-style: none;
}
body .navbar .navbar-lista a {
  color: #0d0d0d;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
}
body .contacto {
  position: fixed;
  height: 60px;
  width: 60px;
  background-color: #009939;
  bottom: 40px;
  right: 40px;
  text-align: center;
  padding-top: 10px;
  border-radius: 30px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 1000;
}
body #inicio {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/portada.png);
  background-size: cover;
  background-size: 100%;
}
@media (max-width: 768px) {
  body #inicio {
    background-image: none;
    width: 100vw;
    height: 100vh;
    margin-bottom: 20vh;
  }
}
body #inicio .inicio-slogan {
  display: flex;
  width: 55vw;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10vw;
  padding-top: 35vh;
  padding-bottom: 35rem;
  box-shadow: 0px 16px 60px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  body #inicio .inicio-slogan {
    width: 100vw;
    padding-left: 5vw;
    align-items: center;
  }
}
body #inicio .inicio-slogan h1 {
  align-self: stretch;
  color: #0d0d0d;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 768px) {
  body #inicio .inicio-slogan h1 {
    font-size: 2.25rem;
    text-align: center;
    width: 90vw;
  }
}
body #inicio .inicio-slogan h3 {
  align-self: stretch;
  color: #333;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 4.8vh;
  padding-top: 2.4vh;
}
@media (max-width: 768px) {
  body #inicio .inicio-slogan h3 {
    font-size: 1rem;
    text-align: center;
    width: 90vw;
  }
}
body #inicio .inicio-slogan .imagenInicioMobile {
  width: 100vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
body #seccionPrendas {
  background: #FFF;
}
@media (max-width: 768px) {
  body #seccionPrendas {
    margin-bottom: 8vh;
  }
}
body #seccionPrendas .prendas {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 48px;
  flex-direction: column;
  align-items: center;
  background: #FFF;
}
@media (max-width: 768px) {
  body #seccionPrendas .prendas {
    height: 50vh;
  }
}
body #seccionPrendas .prendas .textoYBoton {
  display: flex;
  flex-direction: row;
  gap: 2.4vw;
}
body #seccionPrendas .prendas .textoYBoton .boxNuestrasPrendas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
  flex: 1 0 0;
}
@media (max-width: 768px) {
  body #seccionPrendas .prendas .textoYBoton .boxNuestrasPrendas {
    padding-left: 5vw;
  }
}
body #seccionPrendas .prendas .textoYBoton .boxNuestrasPrendas .nuestrasPrendas {
  color: var(--negro, #0D0D0D);
  text-align: center;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body #seccionPrendas .prendas .textoYBoton .boxNuestrasPrendas .encontralas {
  align-self: stretch;
  color: var(--highlight-texto-secundario, #515151);
  font-family: Inter;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body #seccionPrendas .prendas .textoYBoton .irATienda {
  background: var(--negro, #0D0D0D);
  border-radius: 4px;
  display: flex;
  width: 397px;
  padding: 22px 44px;
  margin-bottom: 4vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
body #seccionPrendas .prendas .textoYBoton .irATienda .textIrATienda {
  color: #FAFAFA;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
}
body #seccionPrendas .container {
  display: flex;
  width: 100vw;
  height: 71vh;
  padding: 0vh 10vh;
  align-items: flex-start;
  gap: 24px;
}
body #seccionPrendas .container #carouselExample {
  display: flex;
  flex-direction: column;
}
body #seccionPrendas .container #carouselExample figure {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
body #seccionPrendas .container #carouselExample .capa {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 768px) {
  body #seccionPrendas .container #carouselExample .capa {
    display: none;
  }
}
body #seccionPrendas .container #carouselExample .capa .botonImagen {
  position: absolute;
  width: 70%;
  top: 20vh;
  left: 4vw;
}
body #seccionPrendas .container #carouselExample .capa .textoImagen {
  color: #FFF;
  position: absolute;
  top: 12vh;
  left: 8vw;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 2rem;
}
@media (max-width: 992px) {
  body #seccionPrendas .container #carouselExample .capa .textoImagen {
    font-size: 1rem;
    font-weight: 400;
  }
}
body #seccionPrendas .container #carouselExample figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
body #seccionPrendas .container #carouselExample .carousel-control-next {
  width: 2.8vw;
  height: 2.8vh;
  position: absolute;
  right: -2vw;
  top: 20vh;
  fill: #FAFAFA;
  filter: drop-shadow(8px 8px 35px rgba(0, 0, 0, 0.15));
}
@media (max-width: 768px) {
  body #seccionPrendas .container #carouselExample .carousel-control-next {
    top: 5vh;
  }
}
body #seccionPrendas .container #carouselExample .irATienda {
  background: var(--negro, #0D0D0D);
  border-radius: 4px;
  display: flex;
  width: 100%;
  margin-top: 5vh;
  padding: 2.2vh 4.4vw;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
body #seccionPrendas .container #carouselExample .irATienda .textIrATienda {
  color: #FAFAFA;
  text-align: center;
  font-family: Inter;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.5px;
}
body #seccionPrendas .container #carouselExample .carousel-indicators li {
  list-style: none;
  display: inline-block;
  background-color: #0D0D0D;
  width: 1vw;
  height: 1vh;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
body #seccionPrendas .container #carouselExample .carousel-indicators li .active {
  opacity: 1;
}
body #verMas .vermas-prenda {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  body #verMas .vermas-prenda {
    flex-direction: column;
    height: 100vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 0;
  }
}
body #verMas .vermas-prenda figure {
  position: relative;
  overflow: hidden;
  width: 45vw;
  border-radius: 4px;
}
@media (max-width: 768px) {
  body #verMas .vermas-prenda figure {
    width: 90vw;
    height: auto;
    padding-left: 5vw;
  }
}
body #verMas .vermas-prenda img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 500ms ease-out;
}
body #verMas .vermas-prenda .capa {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
}
body #verMas .vermas-prenda .capa button {
  width: 70%;
  box-shadow: none;
  border-style: none;
}
body #verMas .vermas-prenda figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
body #somos {
  background-color: #f5f3f1;
  display: flex;
  padding-top: 10vh;
  margin-top: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
body #somos .quienes {
  display: flex;
  width: 81.8vw;
  height: 13.4vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4vh;
}
body #somos .quienes h1 {
  font-size: 3rem;
}
@media (max-width: 768px) {
  body #somos .quienes h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    font-style: normal;
  }
}
body #somos .quienes p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 768px) {
  body #somos .quienes p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
  }
}
body #somos .servicios {
  margin: 10vw;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.3);
}
body #somos .servicios .servicio {
  display: flex;
  padding: 2.5vh;
  align-items: center;
  gap: 4.8vw;
  align-self: stretch;
}
@media (max-width: 768px) {
  body #somos .servicios .servicio {
    flex-direction: column;
    padding: 24px 24px;
    border-radius: 8px;
    background: #FAFAFA;
    box-shadow: 4px 8px 50px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 4vh;
  }
}
body #somos .servicios .servicio .imagen {
  background-color: #d5171f;
  display: flex;
  width: 6vw;
  height: 14vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  body #somos .servicios .servicio .imagen {
    width: 64px;
    height: 64px;
  }
}
body #somos .servicios .servicio .imagen img {
  color: #ffffff;
  width: 3.6vw;
  height: 40vh;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  body #somos .servicios .servicio .imagen img {
    width: 24px;
    height: 24px;
  }
}
body #somos .servicios .servicio h3 {
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  body #somos .servicios .servicio h3 {
    font-size: 1.375rem;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    text-align: center;
  }
}
body #somos .servicios .servicio p {
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  body #somos .servicios .servicio p {
    font-size: 0.875rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
  }
}
body #somos .banner-somos {
  background-image: url("../img/image-25.png");
  background-size: cover;
  align-self: stretch;
  height: 85vh;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 10vw;
  padding-top: 14vh;
  gap: 5vh;
  padding-inline-end: 50%;
}
@media (max-width: 768px) {
  body #somos .banner-somos {
    background-image: url("../img/image-25mobile.png");
    width: 100vw;
  }
}
body #somos .banner-somos h1 {
  color: #ffffff;
  font-size: 3rem;
}
@media (max-width: 768px) {
  body #somos .banner-somos h1 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
body #somos .banner-somos h2 {
  color: #ffffff;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  body #somos .banner-somos h2 {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
body #somos .banner-somos .boton {
  width: 20vw;
}
@media (max-width: 768px) {
  body #somos .banner-somos .boton {
    width: auto;
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    font-size: 0.875rem;
  }
}
body #carouselCommentarios {
  margin-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
  background: var(--blanco, #FFF);
}
body #carouselCommentarios .comillas {
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 20vw;
  color: var(--negro, #0D0D0D);
}
@media (max-width: 768px) {
  body #carouselCommentarios .comillas {
    width: 15vw;
  }
}
body #carouselCommentarios #carouselExampleDark {
  width: 80vw;
  height: 60vh;
  border-radius: 12px;
  background: #FAFAFA;
  /* elevacion */
  box-shadow: 8px 8px 35px 0px rgba(0, 0, 0, 0.15);
}
body #carouselCommentarios #carouselExampleDark .rounded-indicators {
  list-style: none;
  padding: 0;
}
body #carouselCommentarios #carouselExampleDark .rounded-indicators button {
  display: inline-block;
  background-color: #0D0D0D;
  width: 1vw;
  height: 2vh;
  margin: 0 4px;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
@media (max-width: 768px) {
  body #carouselCommentarios #carouselExampleDark .rounded-indicators button {
    height: 1vh;
    width: 3vw;
    margin-right: 4vw;
  }
}
body #carouselCommentarios #carouselExampleDark .rounded-indicators button.active {
  opacity: 1;
}
body #carouselCommentarios #carouselExampleDark .carousel-inner {
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80vw;
  flex-shrink: 0;
  align-self: stretch;
}
body #carouselCommentarios #carouselExampleDark .carousel-inner .carousel-item {
  width: 80vw;
  height: 50vh;
}
body #carouselCommentarios #carouselExampleDark .carousel-inner .carousel-item .estrellas {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5vw;
}
body #carouselCommentarios #carouselExampleDark .carousel-inner .carousel-caption {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
body #carouselCommentarios #carouselExampleDark .carousel-inner .carousel-caption .textoComentario {
  color: var(--highlight-texto-secundario, #515151);
  text-align: center;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 768px) {
  body #carouselCommentarios #carouselExampleDark .carousel-inner .carousel-caption .textoComentario {
    font-size: 1rem;
  }
}
body #carouselCommentarios #carouselExampleDark .carousel-inner .carousel-caption .nroComentario {
  color: var(--highlight-texto-secundario, #515151);
  text-align: center;
  /* web/text/medium */
  font-family: Inter;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  body #carouselCommentarios #carouselExampleDark .carousel-inner .carousel-caption .nroComentario {
    font-size: 0.9rem;
  }
}
body #compromiso {
  background-color: #f7bc5c;
  height: 88vh;
  width: 100vw;
}
@media (max-width: 768px) {
  body #compromiso {
    background-color: none;
    background-image: url(../img/image-24mobile.png);
    background-size: cover;
    background-size: 100%;
  }
}
body #compromiso .compromiso {
  background-color: #ffffff;
  display: flex;
  width: 50vw;
  height: 70vh;
  padding: 5vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3vh;
  position: absolute;
  margin-top: 16vh;
  margin-left: 15vw;
  border-radius: 4px;
  background: #fafafa;
  box-shadow: 24px 24px 60px 0px rgba(0, 0, 0, 0.1);
  font-weight: 400;
}
@media (max-width: 768px) {
  body #compromiso .compromiso {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 88vh;
    padding: 0 0;
    margin-top: 0vh;
    margin-left: 0vw;
  }
}
body #compromiso .compromiso h1 {
  font-size: 3rem;
}
@media (max-width: 768px) {
  body #compromiso .compromiso h1 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FAFAFA;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 25vh;
  }
}
body #compromiso .compromiso h3 {
  font-size: 1, 5rem;
  color: #515151;
}
@media (max-width: 768px) {
  body #compromiso .compromiso h3 {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FAFAFA;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
body #compromiso .compromiso p {
  font-size: 1.25rem;
  color: #515151;
}
@media (max-width: 768px) {
  body #compromiso .compromiso p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FAFAFA;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
body #compromiso img {
  height: 88vh;
  padding-left: 60vw;
}
@media (max-width: 768px) {
  body #compromiso img {
    width: 100vw;
    padding-left: 0vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
body #visitanos {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-block: 120px;
  gap: 48px;
}
@media (max-width: 768px) {
  body #visitanos {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-block: 30px;
  }
}
@media (max-width: 768px) {
  body #visitanos iframe {
    width: 90vw;
    height: 100vh;
  }
  body #visitanos .mapa h1 {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
body #visitanos .info-visitanos {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 768px) {
  body #visitanos .info-visitanos {
    gap: 1vh;
  }
}
body #visitanos .info-visitanos h1 {
  font-size: 3rem;
}
@media (max-width: 768px) {
  body #visitanos .info-visitanos h1 {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
body #visitanos .info-visitanos h2 {
  font-size: 1.5rem;
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  padding-bottom: 0.5rem;
  font-weight: 800;
}
@media (max-width: 768px) {
  body #visitanos .info-visitanos h2 {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
body #visitanos .info-visitanos h3 {
  font-size: 1.25rem;
  font-weight: 100;
}
@media (max-width: 768px) {
  body #visitanos .info-visitanos h3 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
body #visitanos .info-visitanos p {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  body #visitanos .info-visitanos p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
body #visitanos .info-visitanos h4 {
  font-size: 1.125rem;
  padding-bottom: 0.3rem;
  font-weight: 500;
}
body #visitanos .info-visitanos .visit-redes {
  display: flex;
  flex-direction: column;
}
body #visitanos .info-visitanos .visit-redes .red {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
body #visitanos .info-visitanos .visit-redes .red i {
  font-size: 2rem;
}
@media (max-width: 768px) {
  body #visitanos .info-visitanos .visit-redes .red i {
    font-size: 1.5rem;
    line-height: 0.5;
  }
}
body #visitanos .info-visitanos .visit-redes .red p {
  font-size: 1.125rem;
  font-weight: 800;
}
@media (max-width: 768px) {
  body #visitanos .info-visitanos .visit-redes .red p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.5;
  }
}
body .footer {
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-block: 10vh;
  padding-inline: 10vw;
}
@media (max-width: 768px) {
  body .footer {
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 10vh;
  }
}
body .footer .footer-arriba {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25vh;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4vh;
}
@media (max-width: 768px) {
  body .footer .footer-arriba {
    height: 45vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5vh;
  }
  body .footer .footer-arriba img {
    width: 13vw;
    height: 6vh;
  }
}
body .footer .footer-arriba .direccion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .footer .footer-arriba .direccion h5 {
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
}
@media (max-width: 768px) {
  body .footer .footer-arriba .direccion h5 {
    text-align: left;
    font-size: 0.75rem;
  }
}
body .footer .footer-arriba .footer-menu .footer-lista {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}
@media (max-width: 768px) {
  body .footer .footer-arriba .footer-menu .footer-lista {
    align-items: flex-start;
    padding-left: 0px;
    gap: 0.5rem;
  }
}
body .footer .footer-arriba .footer-menu .footer-lista a {
  color: #ffffff;
  font-size: 1rem;
  font-style: normal;
  letter-spacing: 0.5px;
  -webkit-text-decoration: transparent;
          text-decoration: transparent;
}
@media (max-width: 768px) {
  body .footer .footer-arriba .footer-menu .footer-lista a {
    font-size: 0.75rem;
  }
}
body .footer .footer-abajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3vh;
}
body .footer .footer-abajo .redes {
  display: flex;
  flex-direction: row;
  padding-top: 4.5vh;
  gap: 2.4vw;
}
body .footer .footer-abajo .redes a {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 768px) {
  body .footer .footer-abajo .redes a {
    font-size: 1.125rem;
  }
}
@media (max-width: 768px) {
  body .footer .footer-abajo p {
    font-size: 0.75rem;
  }
}/*# sourceMappingURL=index.css.map */