*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62, 5%;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.carousel-control-next{
    width: 28px;
    height: 28px;
    position: absolute;
    right: -14px;
    top: 87px;
    fill: #FAFAFA;
    filter: drop-shadow(8px 8px 35px rgba(0, 0, 0, 0.15));
}

.encontralas{
    align-self: stretch;
    color: var(--highlight-texto-secundario, #515151);
    

    /* mobile/body/medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.fotoPrenda{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.irATienda{
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--negro, #0D0D0D);
}  
  

.nuestrasPrendas{
    color: var(--negro, #0D0D0D);
    text-align: center;
   

    /* mobile/headline/medium */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.prendas{
    display: flex;
    width: 100vw;
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.textIrATienda{
    color: #FAFAFA;
    text-align: center;

    /* mobile/label/medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
}


/* Estilo para mostrar dos imágenes en una fila en dispositivos móviles */
@media (max-width: 767px) {
    .carousel-item .col {
      flex: 0 0 50%;
      max-width: 50%;
    }
}
@media (min-width:768px){
    #carousel-indicators li{
        opacity: 0%;
    }

    .prendas{
        padding-top: 100px;
        gap: 48px;
    }    


}