*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62, 5%;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


#carousel-indicators li{
    opacity: 0%;
}
.boxNuestrasPrendas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.carousel-control-next{
    width: 28px;
    height: 28px;
    position: absolute;
    right: -14px;
    top: 87px;
    fill: #FAFAFA;
    filter: drop-shadow(8px 8px 35px rgba(0, 0, 0, 0.15));
}

.encontralas{
    align-self: stretch;
    color: var(--highlight-texto-secundario, #515151);
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}


.fotoPrenda{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.irATienda{
    background: var(--negro, #0D0D0D);
    border-radius: 4px;
    display: flex;
    width: 397px;
    padding: 22px 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
 
  

.nuestrasPrendas{
    color: var(--negro, #0D0D0D);
    text-align: center;
    font-family: Inter;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.prendas{
    display: flex;
    width: 1440px;
    height: 714px;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.prendas{
    display: flex;
    width: 100vw;
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.textIrATienda{
    color: #FAFAFA;
    text-align: center;

    /* mobile/label/medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
}


/* media query para dispositivos móviles */
@media (max-width: 768px) {
    .carousel-item .col {
      flex: 0 0 50%;
      max-width: 50%;
    }

    #carousel-indicators li{
        opacity: 100%;
    }
    .boxNuestrasPrendas{
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
    }

    .encontralas{
        font-size: 0.875rem;
    }
    .irATienda{
        
        padding: 20px 30px;
        align-self: stretch;
             
    } 
    .nuestrasPrendas{
        font-size: 1.5rem;
    }
}


@media (min-width:768px){
    

    .prendas{
        padding-top: 100px;
        gap: 48px;
    }    


}